<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- html  %>


    <script>
        // let activate = document.querySelector('.activeUser');

        // activate.addEventListener('click' , async function(e){
        //     e.preventDefault();
        //     // alert("vikram");
        //     let q = await fetch(`` , {
        //         method:"POST",
        //         // body:
        //         headers: {  'Content-Type' : 'application/json' }
        //     })
        // })

        // let route = window.location.search();
        // console.log(route)
    </script>
</body>
</html>