*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: none;
}

table{
    margin: 10px;
}

table tr th{
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

table tr td{
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    padding: 5px;
}

a{
    color: black;
    text-decoration: none;
    margin:15px 5px;
    padding: 5px;
    font-size: 18px;
    background-color: gray;
    border: 1px solid black;
    height: 30px;
    width: 40px;
    text-align: center;
}

.btn{
    margin: 15px auto;
    text-align: center;
}

h2{
    text-align: center;
    margin: 15px;
}

.disabled{
    cursor:not-allowed;
    pointer-events: none;
    color: green;
}

svg{
    height: 12px;
    width: 12px;
}



#mainsearchbar{
    height: 100px;
    border: 1px solid black;
    margin: 15px 40%;
    text-align: center;
}

#show{
    margin: 15px 45%;
    padding: 10px;
    background-color: lightgray;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

#subsearch{
    height: 100px;
    margin: 15px 40%;
    display: none;
    border: 1px solid black;
    /* text-align: center; */
}