<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Class</title>
</head>
<body>
    <h2>Vikram Kanzariya</h2>

    <div class="container1">
        <form action="/post" method="post">
            <textarea name="query" id="query" cols="40" rows="5" placeholder="Enter Your Query..."></textarea>
            <input name="submit"  type="submit" value="Enter" style="padding: 5px; width: 80px;">
        </form>
    </div>

    <% if (data.length) { %>
        <%- include('output') %>
    <% } %>

</body>
</html>